

  <div class="jumbotron">
    <h1> Authentication Demo </h1>
    <p>Welcome to the Authentication Demo </p>
    <ul>
      <li><a href="/dbdemo">See database API </a></li>
      <% if (loggedIn) {%>
      <li><a href="/profile">See your profile </a></li>
      <li><a href="/profiles">See everyone's profile</a></li>
      <li><a href="/todo">See your to do list </a></li>
      <li><a href="/todoAjax">See your to do list with Ajax </a></li>
      <% } %>
    </ul>
  </div>
