<div class="jumbotron">
  <h1>Registered Users</h1>
  <p> this comes from the google authentication
      and from the info you provide
  </p>
</div>
<hr>
<ol>
  <% profiles.forEach(profile => { %>
    <li>
          <%= profile.googlename %>
          <a href="/publicprofile/<%= profile._id %>">
            (link)</a>
    </li>
  <% }) %>
</ol>
